body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  background-color: beige;
}

.container {
  float: none;
  width: 100%;
  max-width: 80%;
  margin: 40px auto;
  padding: 10px;
}

.top-header {
  float: left;
  width: 100%;
  background: rgb(178, 241, 68);
  text-align: right;
  padding: 40px 0px;
}

.top-header h2 {
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0px;
  padding-right: 100px;
  text-transform: capitalize;
}
.top-header h5 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0px;
  padding-right: 100px;
}

.main {
  float: left;
  width: 100%;
  background: white;
}

.nav-menu {
  float: left;
  width: 100%;
}

.nav-menu ul {
  padding-left: 0;
  margin: 10px 0px;
}

.nav-menu ul li {
  display: inline-block;
}

.nav-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 60px;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-list a:hover {
  color: brown;
}

.nav-list a:active {
  color: rgb(42, 147, 165);
}

.section-one {
  float: left;
  margin-top: 5px;
}
.section-left {
  float: left;
  width: 30%;
}

.main-menu h2 {
  background-color: rgb(178, 241, 68);
  margin: 5px;
  padding: 10px;
}

.main-menu .main-list {
  list-style-type: square;
}

.main-list ul li {
  margin: 15px;
}

.main-menu .main-list li a {
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  font-weight: 500;
  text-transform: capitalize;
}

.sub-menu h2 {
  background-color: rgb(178, 241, 68);
  margin: 5px;
  padding: 10px;
}
.sub-menu p {
  margin: 20px;
}

.section-right {
  float: right;
  width: 70%;
}
.section-right .gallery {
  padding: 10px;
}
.sub-services .subscription {
  padding: 10px;
  float: left;
  width: 40%;
}

.sub-services .other-services {
  padding: 10px;
  float: left;
  width: 40%;
}

.footer {
  float: left;
  width: 100%;
  background: rgb(178, 241, 68);
  text-align: center;
}

.btn {
  background: rgb(178, 241, 68);
  padding: 15px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
}
